<!DOCTYPE html>
<html lang="en">

<head>
    <title>Images</title>
    <%- include("partials/head") -%>
</head>
<%- include("partials/navigation") %>
<body>
  <%- include("partials/aside") %>
    <div class="container p-3"> 
    <%- include("../views/partials/messages.ejs") %>   
        <div class="row grid-mobile">
            <div class="col-sm-9">

                <h2>Bienvenido <% if (user.email === process.env.EMAIL_ADMIN) { %>
                    <span>Administrador</span>
                 <% } else { %>
                  <span><%= user.name %></span>
                  <% } %></h2>
              
            </div>
            
        </div>
    </div>

    <%- include("partials/footer") %>

</body>

</html>